<h1> Search for a US city </h1>

<form action="/results" method="GET">
    <label for="name">City:</label>
    <input type="text" id="name" name="name" required>
    <label for="state">State:</label>
    <input type="text" id="state" name="state">
    <input type="submit" value="Search for city">
</form>